# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
xcuserdata/
*.xccheckout
*.moved-aside
*.xcbkptlist
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# CocoaPods (not used here, but harmless to ignore if added later)
Pods/
